mixin like-btn(options) 
    -
        var likeBtn = "like-btn" 
        likeBtn += options.isLiked ? " liked" : ""
        var heart = ""
        heart += options.isLiked ? "fas fa-heart" : "far fa-heart"

    form(action="#")
        button(class = likeBtn)
            .like-btn__heart
                i(class = heart)
            span= options.counter






