include ../../colors-type/type/label-text/label-text
include ../text-field/text-field
include ../checkbox/checkbox

.top-middle-col__title-wrapper
    +label-text("Checkbox Buttons")

+checkbox({text: "Можно курить"})
+checkbox({text: "Можно с питомцами"})
+checkbox({text: "Можно пригласить гостей (до 10 человек)"})




    
