include ../../colors-type/type/label-text/label-text
include ../text-field/text-field

.text-field-title
    +label-text("Text Field")
    span Default
.text-field-wrapper
    +text-field({placeholder:"Email"})

.text-field-title
    +label-text("Text Field")
    span Hover / Focus
.text-field-wrapper
    +text-field({placeholder:"Email", text:"This is pretty awesome", isHover: true})

.text-field-title
    +label-text("Dropdown")
.text-field-wrapper
    +text-field({text:"Сколько гостей", isDropdown: true})

.text-field-title
    +label-text("masked text field")
.masked-text-field-wrapper
    +text-field({placeholder: "ДД.ММ.ГГГГ"})

.date-dropdown-wrapper
    .date-dropdown-item
        .text-field-title
            +label-text("date Dropdown")
        +text-field({text: "ДД.ММ.ГГГГ", isSmall: true, isDropdown: true})
    .date-dropdown-item
        .text-field-title
            +label-text("date Dropdown")
        +text-field({text: "19.08.2019", isSmall: true, isDropdown: true})

.masked-text-field-wrapper
    .text-field-title
        +label-text("filter date dropdown")
    +text-field({text: "19 авг - 23 авг", isMedium: true, isDropdown: true})

.text-field-title
    +label-text("subscription text field")
+text-field({placeholder:"Email", isMedium: true, isSubscr: true})