include ../star/star

mixin star-rating(options)
    //- -
        //- var number = options.ratingNumber
        //- var starsRated = options.starsRated

    .rating(data-stars-rated=options.starsRated data-rating=options.ratingNumber)
        .rating-item(data-rate="1")
            +star({})
        .rating-item(data-rate="2")
            +star({})
        .rating-item(data-rate="3")
            +star({})
        .rating-item(data-rate="4")
           +star({})
        .rating-item(data-rate="5")
            +star({})