mixin text-field(options)
    -
        var wrapperClassName = "text-field"
        wrapperClassName += options.isDropdown ? " dropdown" : ""
        wrapperClassName += options.isSubscr ? " subscription" : ""
        wrapperClassName += options.isHover ? " hover" : ""
        wrapperClassName += options.isSmall ? " small" : ""
        wrapperClassName += options.isMedium ? " medium" : ""
        wrapperClassName += options.borderNone ? " border-none" : ""
        var inputClassName = "input"
        inputClassName += options.borderNone ? " border-none-text" : ""
        
    div(class = wrapperClassName)
        input(class=inputClassName type="text" placeholder=options.placeholder value=options.text)
        span.set-input-width
        span ...
