extends ./assets/base/base

block title
    | UI kit
block main
    .logo-wrapper
        img(src="./img/logo.svg" alt="")
    include ./sections/uikit/colors-type/colors-type
    include ./sections/uikit/form-elements/form-elements
    