include ../../../components/uikit/cards/card__search-room/card__search-room
include ../../../components/uikit/cards/calendar/calendar
include ../../../components/uikit/cards/card__account-registration/card__account-registration
include ../../../components/uikit/cards/card__booking/card__booking
include ../../../components/uikit/cards/card__login/card__login
include ../../../components/uikit/cards/card__rooms-carousel/card__rooms-carousel

section.cards
    .container
        .cards__wrap
            .cards__col-3
                +card__search-room
                +card__account-registration
            .cards__col-3
                +card__booking
                +card__login
            .cards__col-3
                +calendar
                +card__rooms-carousel({img:"./img/uikit/cards/room-1.jpg", roomNum: 888, roomType: "люкс", price: "9 990", starsRated: 5, reviewsNum: "145"})
                +card__rooms-carousel({img:"./img/uikit/cards/room-2.jpg", roomNum: 840, price: "9 900", starsRated: 4, reviewsNum: "65", noArrows: true})

